table   {
    border-collapse: collapse;
    border: 1px solid black;
 } 
 table  th {
    border: 1px solid black;
    padding: 5px;
 }
 table  td {
    border: 1px solid black;
    padding: 5px;
    background-color: white;
 }