/* table   {
    border-collapse: collapse;
    border: 1px solid black;
 } 
 table  th {
    border: 1px solid black;
    padding: 5px;
 }
 table  td {
    border: 1px solid black;
    padding: 5px;
    background-color: white;
 } */
 #togglePassword{
   /* margin-left: -30px;  */
   cursor: pointer;
 }
 .disabledbutton {
   pointer-events: none;
   opacity: 0.4;
}